 {% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>digital postit</title>
    <link href='{% static "css/customs.css" %}' rel="stylesheet">
</head>
<body>
<!-- <p style="margin-top:-12px">
    사용한 데이터를 보시려면 
    <em class="link">
       <a href='{% static "data.json" %}' target="_blank">여기를 클릭하세요!</a>
    </em>
</p> -->
<div id="map" style="width:100%;height:600px;"></div>
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=9f587572bc5a68cc92bc59a7b1e45380&libraries=clusterer"></script>
<script>
    var map = new daum.maps.Map(document.getElementById('map'), { // 지도를 표시할 div
        center : new daum.maps.LatLng(37.4991178, 127.0267105), // 지도의 중심좌표 
        level : 4 // 지도의 확대 레벨 
    });

    // 지도 확대 축소를 제어할 수 있는  줌 컨트롤을 생성합니다
    var zoomControl = new daum.maps.ZoomControl();
    map.addControl(zoomControl, daum.maps.ControlPosition.RIGHT);
    
    // 마커 클러스터러를 생성합니다 
    var clusterer = new daum.maps.MarkerClusterer({
        map: map, // 마커들을 클러스터로 관리하고 표시할 지도 객체 
        averageCenter: true, // 클러스터에 포함된 마커들의 평균 위치를 클러스터 마커 위치로 설정 
        minLevel: 3 // 클러스터 할 최소 지도 레벨 
    });

    var markers = [];
    var customoverlays = [];
    var seleted_marker = null;
    var seleted_overlay = null;
 
    // 데이터를 가져오기 위해 jQuery를 사용합니다
    // 데이터를 가져와 마커를 생성하고 클러스터러 객체에 넘겨줍니다
    $.get("/static/data.json", function(data) {
        // 데이터에서 좌표 값을 가지고 마커를 표시합니다
        // 마커 클러스터러로 관리할 마커 객체는 생성할 때 지도 객체를 설정하지 않습니다

       
         $(data.positions).map(function(i, position) {
            var marker =  new daum.maps.Marker({
                position : new daum.maps.LatLng(position.lat, position.lng),
                clickable: true
            });
            
            var content = '<div class="overlaybox">' +
            '    <div class="boxtitle">' + position.name + '</div>' +
            '    <div class="summery"> ' + 
            '      <div class="leftbox"> 어제 결제 횟수 <br> ' + position.transac  +'</div>' +
            '      <div class="rightbox"> SNS 인기도 <br>' + position.SNS  + '</div>' +
            '    </div>' +
            '    <div class="first" style="background: url(' + position.pic + ') no-repeat;">' +
            '        <div class="triangle text">1</div>' +
            '        <div class="movietitle text">'+ position.tag1 +'</div>' +
            '    </div>' +
            '    <ul>' +
            '        <li class="up">' +
            '            <span class="number">2</span>' +
            '            <span class="title">'+ position.tag2 +'</span>' +
            '            <span class="arrow up"></span>' +
            '            <span class="count">2</span>' +
            '        </li>' +
            '        <li>' +
            '            <span class="number">3</span>' +
            '            <span class="title">' + position.tag3 + '</span>' +
            '            <span class="arrow up"></span>' +
            '            <span class="count">6</span>' +
            '        </li>' +
            '    </ul>' +
            '</div>';

            // var overlay = new daum.maps.CustomOverlay({
            //     content: content,
            //     map: map,
            //     position: marker.getPosition()       
            // });
            // overlay.setMap(null);
            var customOverlay = new daum.maps.CustomOverlay({
                    position: marker.getPosition(),
                    content: content,
                    xAnchor: 0.3,
                    yAnchor: 0.91
            });
            customoverlays.push(customOverlay);

            // 마커를 클릭했을 때 커스텀 오버레이를 표시합니다
            daum.maps.event.addListener(marker, 'click', function() {

                if(seleted_marker && (seleted_marker != marker)) {
                    seleted_overlay.setMap(null);
                } 
                var i = $.inArray(marker, markers);
                seleted_marker = marker;
                seleted_overlay = customoverlays[i];             

                // when click overlay must be in center pos
                var marker_pos_lat = marker.getPosition().getLat();
                var center_offset = 0.001;
                if (map.getLevel() == 1){
                    center_offset = 0.0005;
                }
                marker_pos_lat = marker_pos_lat + center_offset;
                var new_center_pos =  new daum.maps.LatLng (marker_pos_lat,  marker.getPosition().getLng());
                map.setCenter(new_center_pos);
                seleted_overlay.setMap(map);
            });

            markers.push(marker);
        });

        // 클러스터러에 마커들을 추가합니다
        clusterer.addMarkers(markers);
    });

    daum.maps.event.addListener(map, 'click', function() {
        if(seleted_overlay) {
            seleted_overlay.setMap(null);
        }
        seleted_overlay = null;
        seleted_marker = null;
    });


</script>
</body>
</html>
